@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

.homeHeader {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Kaushan Script", cursive;
  font-size: 70px;
  color: #fff;
  font-weight: 400;

  height: 175px;
  width: 100vw;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(./Images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.postContainer {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  font-family: "Open Sans", sans-serif;
}

.post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 10px 20px 10px;
  padding: 10px 10px 10px 10px;
  background-color: bisque;
  border-radius: 10px;
  height: auto;
  width: 400px;
}
