.registrationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  width: 100vw;
  background-color: rgb(255, 251, 248);
  color: rgb(31, 44, 95);
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  padding: 50px;
  background-color: rgb(197, 203, 227);
  border-radius: 20px;
}

.formContainer h1 {
  padding: 20px;
  font-size: 2.5rem;
  font-weight: 700;
}

.formContainer label {
  padding: 7px;
  font-size: 1.5rem;
  font-weight: 500;
}

.formContainer button {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: rgb(31, 44, 95);
  color: #fff;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
  cursor: pointer;
  width: 100px;
}

.formContainer button:hover {
  transform: scale(1.05);
  transition: all ease-in-out 0.3s;
}

.formField {
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 5px;
  transform: scale(1.05);
}
